/* .carousel-item {
  width: 640px;
  height: 360px;
}
.carousel-size {
  text-align: center;
} */
.sun {
  text-align: center;
}
.abc {
  color: #87A330;
}
.headliner {
  border-bottom-color: #87A330;
 
  float: left;
}
.body-html-index {
  background-color: rgb(52, 50, 50);
}
.main-title {
  text-align: center;
  color: whitesmoke;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Fredericka the Great', cursive; */
  font-family: 'Oregano', cursive;
  /* font-family: 'Ranchers', cursive; */
  /* font-family: 'Henny Penny', cursive; */
  /* font-family: 'UnifrakturCook', cursive; */
  font-size: 50px;
  

}

.card-margin8 {
  margin-right: 20px;
}
.card-margin7 {
  margin-right: 20px;
}
.card-margin6 {
  margin-right: 20px;
 
}
.card-margin1 {
  margin-left: 20px;
  margin-right: 20px;
}
.card-margin2 {
  margin-left: 20px;
}
.card-margin4 {
  font-family: 'Dancing Script', cursive;
  
}
.container {
}
.card-deck {
  margin-top: 25px;
}
.column-posts {
  max-height: 40%;
}
.log-btns {
  margin-right: 15px;
 
  list-style: none;
 
}

.items-nav {
  margin-right: 28px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;

}
.navbar-main {
  background-image: linear-gradient(to bottom,rgb(135, 163, 48) 0, rgb(135, 163, 48) 100%) !important; 
}
.jumbotron {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px; 
}
.home-image {
  display: block stretch;
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
  margin-top: 0px;
  padding: 0px;
}
/* .comment-edit-delete-btns {
  text-align: center;
} */
.delete-btn{
  margin-right: 10px;
}
/* .center-btns {
  text-align: center;
} */
.submit-btn {
  margin-right: 10px;
}
.center-comments-form {
  margin-left: 30px;
}
.edit-comment-btn {
  margin-right: 10px;
}
/* .center-post-btns {
  text-align: center;
} */
.edit-post-btn {
  margin-right: 10px;
}
.comment-h3 {
  text-align: center;
}
.container-jumbo {
  text-align: left;
}
.blog-body {
  font-size: 10px;
}
.blog-title {
  font-size: 16px;
}
.blog-date {
  font-size: 10px;
}
.blog-pic {
  width: 25%;
  height: 25%;
}
.h1-jumbo {
  text-align: center;
  font-family: 'News Cycle', sans-serif;
}
.checkbox-robot {
  /* text-align: center; */
  font-family: 'Courier New', Courier, monospace;
}
/* .scroll {
  overflow: scroll;
} */
